button {
    background-color: ghostwhite;
}

button:hover {
     color: white;
     transition: 2s;
}

img {
   display: block;
   min-width: 100%;
   max-width: 100%;
   height: auto; 
}

.caption {
    position: relative;
    overflow: hidden;
    /* border: solid 1px red; */
}

.caption-overlay h1 {
    text-align: left;
}

.caption-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    transform: translateY(89%);
    transition: transform .35s ease-out;
}

.caption:hover .caption-overlay {
    transform: translateY(0);
}
